# 使用 pnpm 严格模式，避免包版本冲突
strict-peer-dependencies=true

# 方便项目依赖访问，避免一些复杂链接问题
shamefully-hoist=true

# 国内镜像，提升安装速度（根据需要开启）
#registry=https://registry.npmmirror.com/

# 使用 pnpm 作为包管理器
package-manager=pnpm@10.11.0